@import 'tailwindcss';

@plugin 'tailwind-scrollbar';

@theme {
  --font-proxima-nova: 'Proxima Nova Condensed', sans-serif;
  --font-rift: 'Rift', sans-serif;

  --color-primary: #FE2C55;
  --color-secondary: #00f2ea;
  --color-error: #e52020;
}

@plugin "daisyui" {
  themes: corporate --default;
}

@plugin "daisyui/theme" {
  name: 'corporate';
  default: true;

  --color-primary: #FE2C55;
  --color-secondary: #00f2ea;
  --color-error: #e52020;
}

@utility fieldset-legend {
  @apply pb-0.5;
}

body {
  margin: 0;
  width: 500px;
  height: 600px;
  font-family: 'Proxima Nova Condensed', sans-serif;
  font-weight: 600;
}

html {
  @apply scrollbar-thin scrollbar-thumb-primary/40 scrollbar-track-transparent;
}
